/* .form-area,
.preview-area
{
    margin-top: 50px;
    text-align: center;
}
.add-background {
    background-color: blue;
    padding: 10px;
} */

.form{
    max-width:350px;
    margin: auto;
}
.form-group {
    margin: 10px auto;
}
.actions{
    display: flex;
    justify-content: space-between;
}
    